@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button {
}

.form {
  @apply mx-auto flex flex-col gap-3;
}

.form p,
.form-group {
  @apply flex flex-col gap-1;
}

.form p label,
.form-group label {
  @apply font-medium text-neutral-800;
}

.form p input,
.form-group input {
  @apply flex flex-col border border-neutral-200 rounded-md px-3 py-1.5 placeholder:text-neutral-400 placeholder:text-sm outline-none focus:border-neutral-500;
}

.errorlist > li,
.error {
  @apply text-red-500 text-sm;
}

select {
  appearance: none;
  width: 100%;
  background-color: #fff;
  color: #000;
  position: relative;
  cursor: pointer;
  @apply px-3 py-1.5 border rounded-md;
}

.custom-select {
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #858585;
  top: 60%;
  z-index: 10;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #858585;
  top: 72%;
}

.form-group div label {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  @apply text-sm !cursor-pointer text-neutral-600;
}

#id_open_days {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 10px;
  padding-left: 5px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 10px;
}

.custom-scrollbar-sm::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
  height: 2px;
}

.custom-scrollbar-sm::-webkit-scrollbar-thumb {
  background: #a2a2a2;
}

.list {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}

textarea {
  @apply border border-neutral-200 rounded-md px-3 py-1.5 placeholder:text-neutral-400 placeholder:text-sm outline-none focus:border-neutral-500 h-20;
}

.dropdown-item {
  @apply flex w-full rounded-md font-medium items-center gap-2 p-2 py-1.5 hover:bg-neutral-100 text-neutral-700 hover:text-black;
}

.table-container {
  width: 100%;
}
.table-container table {
  width: 100%;
  text-align: left;
}
.table-container table th {
  padding: 10px 0px;
}
.table-container table tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

.table-container tr td {
  padding:3px 6px !important;
  text-transform: capitalize;
}

.email-col {
  text-transform: lowercase !important;
}

.table-container thead th.orderable a {
  padding: 4px 24px 6px 8px;
  position: relative;
  border-radius: 5px;
}
.table-container thead th.orderable a:hover {
  background: #eee;
}

.table-container thead th.orderable a::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzZDNkM2QiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb25zLXVwLWRvd24iPjxwYXRoIGQ9Im03IDE1IDUgNSA1LTUiLz48cGF0aCBkPSJtNyA5IDUtNSA1IDUiLz48L3N2Zz4=");
  position: absolute;
  right: 3px;
  top: calc(50% - 10px);
  z-index: 10;
}
.table-container thead th.asc a::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzZDNkM2QiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXVwIj48cGF0aCBkPSJtNSAxMiA3LTcgNyA3Ii8+PHBhdGggZD0iTTEyIDE5VjUiLz48L3N2Zz4=");
  position: absolute;
  right: 3px;
  top: calc(50% - 10px);
  z-index: 10;
}
.table-container thead th.desc a::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzZDNkM2QiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWRvd24iPjxwYXRoIGQ9Ik0xMiA1djE0Ii8+PHBhdGggZD0ibTE5IDEyLTcgNy03LTciLz48L3N2Zz4=");
  position: absolute;
  right: 3px;
  top: calc(50% - 10px);
  z-index: 10;
}
