{% extends "facility/layout.html" %}
{% load render_table from django_tables2 %}

{% block title %} Blood Donor System | Inventory {% endblock %}


{% block content %}

<div class="w-full p-4 flex flex-col gap-4">
    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-6">
                <h1 class="font-semibold">Inventory</h1>

                <div class="flex items-center text-sm gap-2 max-w-5xl overflow-x-auto custom-scrollbar-sm">
                    {% if facility_inventory_filter.form %}
                        {% for field in facility_inventory_filter.form %}
                            {% if field.value %}
                                        <div class='border min-w-fit border-dotted flex items-center border-neutral-300 gap-3 px-3 py-0.5 rounded text-neutral-700'><span class='text-black font-medium'>{{ field.label }}</span> <small class='!text-[8px] font-semibold text-neutral-500'>|</small> {{ field.value }}  </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div>
                <button id="inventory-filter-btn"
                    class="flex items-center gap-2 px-3 py-1.5 bg-blue-600 hover:bg-blue-600 text-white font-medium text-sm rounded">
                    Add filter <i data-lucide="list-filter" class="size-4" stroke-width="3"></i>
                </button>
            </div>
        </div>        
        <div class="w-full">
           {% render_table inventory_table%}
        </div>
    </div>

    {% comment %} inventory-filter {% endcomment %}

    <div id="inventory-filter-modal" class="fixed hidden h-screen w-full top-0 left-0 z-20">
        <div id="inventory-filter-backdrop"
            class="absolute top-0 left-0 w-full bg-black/40 h-full opacity-0 transition-opacity duration-200"></div>
        <div id="inventory-filter-sheet"
            class="absolute right-0 top-0 h-screen w-[500px]  z-20 p-4 transform translate-x-full transition-transform duration-300">
            <div class="w-full h-full bg-white shadow rounded-md relative">
                <button id="inventory-close-btn"
                    class="size-4 rounded-full grid place-items-center hover:bg-neutral-100 absolute top-3 right-4">
                    <i data-lucide="x" class="size-5" stroke-width="2"></i>
                </button>
                <div class="pt-4">
                    <h1 class="font-semibold tracking-tight px-6 text-xl">Add filters</h1>
                    <form method="get" class="flex flex-col p-6 pb-3 gap-4">
                        <div class="form-group">
                            {{ facility_inventory_filter.form.blood_type.label_tag }}
                            {{ facility_inventory_filter.form.blood_type }}
                        </div>
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-600 h-9 font-medium px-3 rounded text-white flex items-center justify-center gap-2">
                            Add filters <i data-lucide="plus" class="size-4"></i>
                        </button>
                    </form>
                    <form action="" method="get" class="flex items-center gap-2 px-6">
                        <button type="submit" name="clear_inventory_filters" value="true" class="bg-red-500 hover:bg-red-600 text-white font-medium py-1 px-3 rounded w-2/4 justify-center flex items-center gap-2">
                            Clear Filters
                            <i data-lucide='trash' class='size-4'></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-6">
                <h1 class="font-semibold">Blood Units</h1>

                <div class="flex items-center text-sm gap-2 max-w-5xl overflow-x-auto custom-scrollbar-sm">
                    {% if bloodunits_filter.form %}
                        {% for field in bloodunits_filter.form %}
                            {% if field.value %}
                                        <div class='border min-w-fit border-dotted flex items-center border-neutral-300 gap-3 px-3 py-0.5 rounded text-neutral-700'><span class='text-black font-medium'>{{ field.label }}</span> <small class='!text-[8px] font-semibold text-neutral-500'>|</small> {{ field.value }}  </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div>
                <button id="bloodunits-filter-btn"
                    class="flex items-center gap-2 px-3 py-1.5 bg-blue-600 hover:bg-blue-600 text-white font-medium text-sm rounded">
                    Add filter <i data-lucide="list-filter" class="size-4" stroke-width="3"></i>
                </button>
            </div>
        </div>        
        <div class="w-full">
           {% render_table bloodunits_table%}
        </div>
    </div>

    <div id="bloodunits-filter-modal" class="fixed hidden h-screen w-full top-0 left-0 z-20">
        <div id="bloodunits-filter-backdrop"
            class="absolute top-0 left-0 w-full bg-black/40 h-full opacity-0 transition-opacity duration-200"></div>
        <div id="bloodunits-filter-sheet"
            class="absolute right-0 top-0 h-screen w-[500px]  z-20 p-4 transform translate-x-full transition-transform duration-300">
            <div class="w-full h-full bg-white shadow rounded-md relative">
                <button id="bloodunits-close-btn"
                    class="size-4 rounded-full grid place-items-center hover:bg-neutral-100 absolute top-3 right-4">
                    <i data-lucide="x" class="size-5" stroke-width="2"></i>
                </button>
                <div class="pt-4">
                    <h1 class="font-semibold tracking-tight px-6 text-xl">Add filters</h1>
                    <form method="get" class="flex flex-col p-6 pb-3 gap-4">
                        <div class="form-group">
                            {{ bloodunits_filter.form.blood_type.label_tag }}
                            {{ bloodunits_filter.form.blood_type }}
                        </div>
                        <div class="form-group">
                            {{ bloodunits_filter.form.donation_type.label_tag }}
                            {{ bloodunits_filter.form.donation_type }}
                        </div>
                        <div class="form-group">
                            {{ bloodunits_filter.form.status.label_tag }}
                            {{ bloodunits_filter.form.status }}
                        </div>
                        <button type="submit"
                            class="bg-blue-500 hover:bg-blue-600 h-9 font-medium px-3 rounded text-white flex items-center justify-center gap-2">
                            Add filters <i data-lucide="plus" class="size-4"></i>
                        </button>
                    </form>
                    <form action="" method="get" class="flex items-center gap-2 px-6">
                        <button type="submit" name="clear_bloodunits_filters" value="true" class="bg-red-500 hover:bg-red-600 text-white font-medium py-1 px-3 rounded w-2/4 justify-center flex items-center gap-2">
                            Clear Filters
                            <i data-lucide='trash' class='size-4'></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}

{% block scripts %}
<script>

    document.addEventListener('DOMContentLoaded', () => {


        const filter_modal = document.getElementById("inventory-filter-modal")
        const filter_sheet = document.getElementById("inventory-filter-sheet")
        const filter_button = document.getElementById('inventory-filter-btn')
        const close_sheet_btn = document.getElementById("inventory-close-btn")
        const filter_backdrop = document.getElementById("inventory-filter-backdrop")
    
        const openFilterSheet = () => {
            closeBSheet()
            filter_modal.classList.remove("hidden")
            setTimeout(() => {
                filter_sheet.classList.remove("translate-x-full")
                filter_backdrop.classList.replace("opacity-0", "opacity-100")
            }, 10);
        }
    
        const closeSheet = () => {
            filter_sheet.classList.add("translate-x-full")
            filter_backdrop.classList.replace("opacity-100", "opacity-0")
    
            setTimeout(() => {
                filter_modal.classList.add("hidden")
            }, 300)
        }
    
        filter_button.addEventListener("click", openFilterSheet)
        close_sheet_btn.addEventListener("click", closeSheet)
        filter_backdrop.addEventListener('click', closeSheet)


        const b_filter_modal = document.getElementById("bloodunits-filter-modal")
        const b_filter_sheet = document.getElementById("bloodunits-filter-sheet")
        const b_filter_button = document.getElementById('bloodunits-filter-btn')
        const b_close_sheet_btn = document.getElementById("bloodunits-close-btn")
        const b_filter_backdrop = document.getElementById("bloodunits-filter-backdrop")
    
        const openBloodUnitsFilterSheet = () => {
            closeSheet()
            b_filter_modal.classList.remove("hidden")
            setTimeout(() => {
                b_filter_sheet.classList.remove("translate-x-full")
                b_filter_backdrop.classList.replace("opacity-0", "opacity-100")
            }, 10);
        }
    
        const closeBSheet = () => {
            b_filter_sheet.classList.add("translate-x-full")
            b_filter_backdrop.classList.replace("opacity-100", "opacity-0")
    
            setTimeout(() => {
                b_filter_modal.classList.add("hidden")
            }, 300)
        }
    
        b_filter_button.addEventListener("click", openBloodUnitsFilterSheet)
        b_close_sheet_btn.addEventListener("click", closeBSheet)
        b_filter_backdrop.addEventListener('click', closeBSheet)
    })




    

</script>

{% endblock %}
