{% extends "facility/layout.html" %}

{% block title %} Blood Donor System | Requests {% endblock %}


{% block content %}

<div class="w-full p-4 flex flex-col gap-4">
    <div class="w-full grid grid-cols-5 gap-4">
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Total requests</p>
                <p class="text-3xl font-semibold tracking-tight">{{ total_requests }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Approved Requests</p>
                <p class="text-3xl font-semibold tracking-tight">{{ approved_requests_count }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Pending Requests</p>
                <p class="text-3xl font-semibold tracking-tight">{{ pending_requests_count }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Rejected Requests</p>
                <p class="text-3xl font-semibold tracking-tight">{{ rejected_requests_count }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Blood Total</p>
                <p class="text-3xl font-semibold tracking-tight">{{ rejected_requests_count }}</p>
            </div>
        </div>


    </div>

    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Requests</h1>
        <div class="w-full">
            <table class="w-full">
                <thead>
                    <tr class="">
                        <th class="p-2 text-left font-semibold">Individual</th>
                        <th class="p-2 text-left font-semibold">Email</th>
                        <th class="p-2 text-left font-semibold">Phone</th>
                        <th class="p-2 text-left font-semibold">Blood Type</th>
                        <th class="p-2 text-left font-semibold">Request Type</th>
                        <th class="p-2 text-left font-semibold">Request Amount</th>
                        <th class="p-2 text-left font-semibold">Urgency Level</th>
                        <th class="p-2 text-left font-semibold">Needed By</th>
                        <th class="p-2 text-left font-semibold">Approval Status</th>
                        <th class="p-2 text-left font-semibold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <td class="p-2  truncate text-neutral-800">{{request.user.firstname}}
                            {{request.user.lastname}}</td>
                        <td class="p-2  truncate text-neutral-800">{{request.user.user.email}}</td>
                        <td class="p-2  truncate text-neutral-800">{{request.user.phone}}</td>
                        <td class="p-2  truncate text-neutral-800">{{request.user.blood_group}}</td>
                        <td class="p-2  truncate text-neutral-800 capitalize">{{request.request_type}}</td>
                        <td class="p-2  truncate text-neutral-800">{{request.request_amount}} ml</td>
                        <td class="p-2  truncate text-neutral-800 capitalize">
                            <p class="
                            {% if request.urgency_level == 'normal' %} text-blue-600 
                            {% elif request.urgency_level == 'urgent' %} text-yellow-600 
                            {% elif request.urgency_level == 'critical' %} text-red-600 
                            {% endif %} font-medium">{{request.urgency_level}}</p>
                        </td>
                        <td class="p-2  truncate text-neutral-800 capitalize">{{request.needed_by|date:'Y-m-d'}}</td>
                        <td class="p-2  truncate text-neutral-800">
                            {% if request.approval_status == 'pending' %}
                            <div class="text-purple-600 flex items-center  gap-2 ">
                                <i data-lucide="clock" class=" size-4" stroke-width="3"></i>
                                <span>Pending</span>
                            </div>
                            {% elif request.approval_status == 'approved' %}
                            <div class="text-green-600 flex items-center  gap-2 ">
                                <i data-lucide="circle-check" class="size-4" stroke-width="3"></i>
                                <span>Approved</span>
                            </div>
                            {% elif request.approval_status == 'rejected' %}
                            <div class="text-red-600 flex items-center  gap-2 ">
                                <i data-lucide="circle-x" class=" size-4" stroke-width="3"></i>
                                <span>Rejected</span>
                            </div>
                            {% endif %}
                        </td>
                        <td class=" w-16 flex items-center justify-center h-10">
                            <div class="relative">
                                <button data-id="{{ request.id }}"
                                    class="size-8 actions-btn group/button relative  aspect-square rounded  hover:bg-neutral-100 text-neutral-600 flex items-center justify-center   p-2 ">
                                    <i data-lucide="ellipsis" class="size-5" stroke-width="3"></i>
                                </button>

                                <div data-id="{{ request.id }}" id="actionsMenuBackdrop{{ request.id }}"
                                    class="fixed hidden backdrop top-0 left-0 w-full h-full bg-transparent"></div>
                                <div id="actionsMenu{{ request.id }}"
                                    class="absolute p-1.5 z-20 hidden bottom-full border right-full w-[190px] text-sm  min-w-fit rounded-md bg-white shadow-md">
                                    <a href="{% url 'approve-request' request.id %}">
                                        <button class="dropdown-item">
                                            <i data-lucide="check" class="shrink-0 size-4"></i>
                                            Approve request
                                        </button>
                                    </a>
                                    <button data-id="{{ request.id }}" class="reject-btn dropdown-item">
                                        <i data-lucide="x" class="size-4 shrink-0"></i>
                                        Reject request
                                    </button>
                                </div>

                            </div>

                            <div id="rejectModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[500px] p-4 mt-64 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-4">
                                    <h1 class="font-semibold text-xl">Reject Request</h1>
                                    <form action="{% url 'reject-request' request.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group !list-decimal">
                                            <label for="reason">Reason for rejection</label>
                                            <input type="text" name="reason" id="reason"
                                                class="form-control w-full border rounded p-2" required>
                                        </div>
                                        <button type="submit"
                                            class="w-full h-9 bg-blue-500 hover:bg-blue-600 text-white rounded-md font-medium mt-4">
                                            Confirm
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        function closeModalOnBackdropClick(modalId) {
            const modal = document.getElementById(modalId);
            const backdrop = modal.querySelector('.backdrop');

            backdrop.addEventListener('click', function () {
                modal.classList.add('hidden');
            });
        }

        const action_buttons = document.querySelectorAll(".actions-btn")

        action_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                e.preventDefault()
                const menu = document.querySelector(`#actionsMenu${button.dataset.id}`)
                const backdrop = document.querySelector(`#actionsMenuBackdrop${button.dataset.id}`)
                menu.classList.remove("hidden")
                backdrop.classList.remove("hidden")
            })
        })

        const backdrops = document.querySelectorAll(".backdrop")

        backdrops.forEach((backdrop) => {
            backdrop.addEventListener("click", (e) => {
                console.log("clicked")
                e.preventDefault()
                const menu = document.querySelector(`#actionsMenu${backdrop.dataset.id}`)
                menu.classList.add("hidden")
                backdrop.classList.add("hidden")
            })
        })

        const rejectModals = document.querySelectorAll('[id^="rejectModal"]');
        rejectModals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });


        const reject_buttons = document.querySelectorAll(".reject-btn")
        reject_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                e.preventDefault()
                const modal = document.querySelector(`#rejectModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })



    }
    )
</script>

{% endblock %}