{% extends "facility/layout.html" %}

{% block title %} Blood Donor System | Inventory {% endblock %}


{% block content %}

<div class="w-full p-4 flex flex-col gap-4">
    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Inventory</h1>
        <div class="w-full">
            <table class="w-full">
                <thead class="border-b">
                    <tr class="">
                        <th class="p-2 text-left font-semibold">Blood Group</th>
                        <th class="p-2 text-left font-semibold">Quantity (liters)</th>
                        <th class="p-2 text-left font-semibold">Total Units Received</th>
                        <th class="p-2 text-left font-semibold">Total Units Available</th>
                        <th class="p-2 text-left font-semibold">Restock Status</th>
                        <th class="p-2 text-left font-semibold">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory in inventories %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <td class="p-2  truncate text-neutral-800">{{inventory.blood_type}}</td>
                        <td class="p-2  truncate text-neutral-800">{{inventory.total_quantity}}</td>
                        <td class="p-2  truncate text-neutral-800">{{inventory.units_received}}</td>
                        <td class="p-2  truncate text-neutral-800">{{inventory.available_units}}</td>
                        <td class="p-2  truncate text-neutral-800">
                            <p class="px-2 w-20 text-center py-1 rounded text-sm font-semibold 
                            {% if inventory.restock_status == 'Critical' %} bg-red-500 text-white
                            {% elif inventory.restock_status == 'Low' %} bg-yellow-500 text-white
                            {% elif inventory.restock_status == 'Adequate' %} bg-blue-500 text-white
                            {% elif inventory.restock_status == 'Surplus' %} bg-green-500 text-white
                            {% endif %}
                        ">
                                {{inventory.restock_status}}
                            </p>
                        </td>
                        <td class="p-2  truncate text-neutral-800">{{inventory.updated_at|date:"Y-m-d, g:i a"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Blood units</h1>
        <div class="w-full">
            <table class="w-full">
                <thead class="border-b">
                    <tr class="">
                        <th class="p-2 text-left font-semibold">Unit ID</th>
                        <th class="p-2 text-left font-semibold">Donor</th>
                        <th class="p-2 text-left font-semibold">Blood Type</th>
                        <th class="p-2 text-left font-semibold">Quantity</th>
                        <th class="p-2 text-left font-semibold">Donation Type</th>
                        <th class="p-2 text-left font-semibold">Collection Date</th>
                        <th class="p-2 text-left font-semibold">Expiry Date</th>
                        <th class="p-2 text-left font-semibold">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in bloodunits %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <td class="p-2 truncate text-neutral-800">{{unit.unit_id}}</td>
                        <td class="p-2 truncate text-neutral-800">{{unit.donor.firstname}} {{unit.donor.lastname}}
                        </td>
                        <td class="p-2 truncate text-neutral-800">{{unit.blood_type}}</td>
                        <td class="p-2 truncate text-neutral-800">{{unit.quantity}}</td>
                        <td class="p-2 truncate text-neutral-800 capitalize">{{unit.donation_type}}</td>
                        <td class="p-2 truncate text-neutral-800">{{unit.collection_date}}</td>
                        <td class="p-2 truncate text-neutral-800">{{unit.expiration_date}}</td>
                        <td class="p-2 truncate text-neutral-800 capitalize">
                            <p class=" rounded font-medium 
                            {% if unit.status == 'available' %} text-green-600 
                            {% elif unit.status == 'unavailable' %} bg-red-600 {% endif %}">{{unit.status}}</p>
                        </td>
                    </tr>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}