{% extends "user/donations.html" %}

{% block title %} Blood Donor System | Eligibility {% endblock %}



{% block eligibility %}
<div id="modal" class="w-full h-screen  fixed top-0 left-0 z-50">
    <div id="backdrop" class="absolute top-0 left-0 w-full h-full bg-black/60"></div>
    <div
        class="mx-auto custom-scrollbar overflow-y-auto w-[500px] shadow-lg rounded-md max-w-fit z-20 relative p-1 bg-white mt-28">
        <div class="flex flex-col gap-2 p-4">
            <h1 class="text-2xl font-bold tracking-tight text-neutral-800">Book Appointment</h1>
            <p class=" text-neutral-600 text-sm ">
                You are required to fill in the following details to book you donation appointments.
            </p>
        </div>
        <div class=" flex flex-col gap-2 z-30">
            <a href="{% url 'donations' %}"
                class="absolute top-2 right-2 size-7 rounded-full  text-neutral-500 hover:text-black flex items-center justify-center">

                <button id="close-button">
                    <i data-lucide="x" class="size-5" stroke-width="3"></i>
                </button>
            </a>
            {{ eligible }}
            <form method="POST" action="{% url 'book-donation-appointment' %}" class="flex flex-col gap-2 ">
                {% csrf_token %}

                {% if form.donation_date.errors %}
                <ul class="errorlist px-4">
                    {% for error in form.donation_date.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <ul class="flex flex-col divide-y divide-neutral-200">

                    <li class="form-group px-4 py-3 !list-decimal">
                        {{ form.amount.label_tag }}
                        {{ form.amount }}
                    </li>
                    <!-- <hr /> -->
                    <li class="form-group px-4 py-3 list-disc">
                        {{ form.donation_type.label_tag }}
                        {{ form.donation_type }}
                    </li>
                    <!-- <hr /> -->
                    <li class="form-group px-4 py-3 list-disc">
                        {{ form.donation_date.label_tag }}
                        {{ form.donation_date }}
                    </li>
                    <!-- <hr /> -->
                    <li class="form-group px-4 py-3 list-disc">
                        {{ form.remarks.label_tag }}
                        {{ form.remarks }}
                    </li>
                </ul>

                <div class="px-4 py-3 w-full border-t border-neutral-300">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-600 transition-all p-2 flex items-center gap-2 px-3 rounded py-2 justify-center font-medium text-white w-2/4">Submit
                        <i data-lucide="arrow-right" class="size-3.5" stroke-width="3"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>


</div>
{% endblock %}