{% extends "user/dashboard-layout.html" %}

{% block title %} Blood Donor System | User Dashboard{% endblock %}



{% block content %}
<div class="w-full p-4 flex flex-col gap-4">
    <nav class="flex items-center justify-end">
        <a href="{% url 'check-eligibility' %}">
            <button id="donation-button"
                class="bg-blue-600 text-sm text-white px-3 py-2 font-medium rounded-md flex items-center gap-1">
                Make donation
                <i data-lucide="plus" class="size-4" stroke-width="3"></i>
            </button>
        </a>
    </nav>
    <div class="w-full grid grid-cols-3 gap-4">
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Donations made</p>
                <p class="text-3xl font-semibold tracking-tight">{{ total_donations }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Last donation on</p>
                <p class="text-2xl font-semibold tracking-tight">{{ last_donation_date }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Blood group</p>
                <p class="text-3xl font-semibold tracking-tight">{{ profile.blood_group }}</p>
            </div>
        </div>

    </div>

    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Donation History</h1>
        <div class="w-full">
            <table class="w-full max-h-80">
                <thead class="border-b">
                    <tr class=" ">
                        <th class="text-start p-2 font-semibold">Date</th>
                        <!-- <th class="text-start p-2 font-semibold">Facility</th> -->
                        <th class="text-start p-2 font-semibold">Donation Type</th>
                        <th class="text-start p-2 font-semibold">Amount Donated</th>
                        <th class="text-start p-2 font-semibold">Status</th>
                        <th class="text-start p-2 font-semibold">Approval status</th>
                        <th class="text-start p-2 font-semibold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <!-- <td class="p-2 truncate text-neutral-800">Nairobi Blood Bank</td> -->
                        <td class="p-2 truncate text-neutral-800">{{ donation.donation_date|date:"F j, Y, g:i a" }}</td>
                        <td class="p-2 truncate text-neutral-800 !capitalize">{{ donation.donation_type }}</td>
                        <td class="p-2 truncate text-neutral-800"><span
                                class="text-black font-medium">{{donation.amount}}</span> ml</td>
                        <td class="p-2 truncate text-neutral-800 !capitalize">{{ donation.status }}</td>
                        <td class="p-2 truncate text-neutral-800 text-sm  !capitalize flex items-center gap-2">

                            {% if donation.approval_status == 'pending' %}
                            <div class="text-purple-600 flex items-center gap-2 font-medium">
                                <i data-lucide="clock" class=" size-4" stroke-width="3"></i>
                                <span>Pending</span>
                            </div>
                            {% elif donation.approval_status == 'approved' %}
                            <div class="text-green-600 flex items-center gap-2 font-medium">
                                <i data-lucide="circle-check" class="size-4" stroke-width="3"></i>
                                <span>Approved</span>
                            </div>
                            {% elif donation.approval_status == 'rejected' %}
                            <div class="text-red-600 flex items-center gap-2 font-medium">
                                <i data-lucide="circle-check" class=" size-4" stroke-width="3"></i>
                                <span>Rejected</span>
                            </div>
                            {% endif %}
                        </td>
                        <td class="p-2  gap-2">
                            <button
                                class="h-full group/button relative  aspect-square rounded hover:bg-neutral-200 text-neutral-600 hover:text-black  p-2">
                                <div
                                    class="absolute min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-black text-white rounded-md">
                                    Edit
                                </div>
                                <i data-lucide="pencil" class="size-3" stroke-width="3"></i>
                            </button>
                            <button
                                class="h-full group/button relative  aspect-square rounded hover:bg-red-100 text-red-500 hover:text-red-600  p-2">
                                <div
                                    class="absolute min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-black text-white rounded-md">
                                    Delete
                                </div>
                                <i data-lucide="trash" class="size-3" stroke-width="3"></i>
                            </button>
                            <button
                                class="h-full group/button relative  aspect-square rounded hover:bg-blue-100 text-blue-500 hover:text-blue-600  p-2">
                                <div
                                    class="absolute !min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-black text-white rounded-md">
                                   <p class="min-w-fit w-[85px]">More details</p>
                                </div>
                                <i data-lucide="info" class="size-3" stroke-width="3"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>

        </div>
    </div>


    <!-- modal  -->
    {% block eligibility %} {% endblock %}
    {% block book-donation %} {% endblock%}
</div>
{% endblock %}

{% block scripts %}
<!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
        const donationButton = document.querySelector("#donation-button");
        const modal = document.querySelector("#modal");
        const backdrop = document.querySelector("#backdrop");
        const closeButton = document.querySelector("#close-button");

        const closeModal = () => {
            modal.classList.add("hidden");
        }

        donationButton.addEventListener("click", () => {
            console.log('clicked')
            modal.classList.toggle("hidden");
        })

        backdrop.addEventListener("click", closeModal)
        closeButton.addEventListener("click", closeModal)


    })

</script> -->
{% endblock %}