{% extends "user/dashboard-layout.html" %}

{% block title %} Blood Donor System | Requests{% endblock %}



{% block content %}
<div class="w-full p-4 flex flex-col gap-4">
    <nav class="flex items-center justify-end">
        <a href="{% url 'make-request' %}">
            <button id="request-button"
                class="bg-blue-600 text-sm text-white px-3 py-2 font-medium rounded-md flex items-center gap-1">
                Make request
                <i data-lucide="plus" class="size-4" stroke-width="3"></i>
            </button>
        </a>
    </nav>
    <div class="w-full grid grid-cols-3 gap-4">
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Requests made</p>
                <p class="text-3xl font-semibold tracking-tight">{{ total_requests }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Requests approved</p>
                <p class="text-3xl font-semibold tracking-tight">{{ approved_requests_count }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Requests rejected</p>
                <p class="text-3xl font-semibold tracking-tight">{{ rejected_requests_count }}</p>
            </div>
        </div>


    </div>

    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Requests</h1>
        <div class="w-full">
            <table class="w-full">
                <thead>
                    <tr class="">
                        <th class="p-2 text-left font-semibold">Facility</th>
                        <th class="p-2 text-left font-semibold">request Type</th>
                        <th class="p-2 text-left font-semibold">Request Amount</th>
                        <th class="p-2 text-left font-semibold">Approval Status</th>
                        <th class="p-2 text-left font-semibold">Urgency Level</th>
                        <th class="p-2 text-left font-semibold">Needed By</th>
                        <th class="p-2 text-left font-semibold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <td class="p-2  truncate text-neutral-800">{{ request.facility.name }}</td>
                        <td class="p-2  truncate text-neutral-800">{{ request.request_type }}</td>
                        <td class="p-2  truncate text-neutral-800">{{ request.request_amount }}</td>
                        <td
                            class="p-2.5 truncate h-full  text-neutral-800 text-sm  !capitalize flex  !items-center gap-2">

                            {% if request.approval_status == 'pending' %}
                            <div class="text-purple-600 flex items-center  gap-2 font-medium">
                                <i data-lucide="clock" class=" size-4" stroke-width="3"></i>
                                <span>Pending</span>
                            </div>
                            {% elif request.approval_status == 'approved' %}
                            <div class="text-green-600 flex items-center  gap-2 font-medium">
                                <i data-lucide="circle-check" class="size-4" stroke-width="3"></i>
                                <span>Approved</span>
                            </div>
                            {% elif request.approval_status == 'rejected' %}
                            <div class="text-red-600 flex items-center  gap-2 font-medium">
                                <i data-lucide="circle-check" class=" size-4" stroke-width="3"></i>
                                <span>Rejected</span>
                            </div>
                            {% endif %}
                        </td>
                        <td class="p-2  truncate text-neutral-800">{{ request.urgency_level }}</td>
                        <td class="p-2  truncate text-neutral-800">{{ request.needed_by|date:"Y-m-d" }}</td>
                        <td class="p-2  gap-2">
                            <button data-id="{{ request.id }}"
                                class="h-full cancel-btn group/button relative  aspect-square rounded    p-2 {% if request.approval_status == 'completed' or request.approval_status == 'cancelled' %} disabled !text-neutral-500 !cursor-not-allowed pointer-events-none {% else %} text-red-500 hover:text-red-600 hover:bg-red-100 {% endif %} ">
                                <div
                                    class="absolute w-[170px] min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-white text-black border shadow rounded-md">
                                    Cancel request
                                </div>
                                <i data-lucide="x" class="size-3" stroke-width="3"></i>
                            </button>

                            <button
                                class="h-full group/button relative  aspect-square rounded hover:bg-neutral-200 text-neutral-600 hover:text-black  p-2">
                                <div
                                    class="absolute min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-white text-black border shadow rounded-md">
                                    Edit
                                </div>
                                <i data-lucide="pencil" class="size-3" stroke-width="3"></i>
                            </button>

                            <button data-id="{{ request.id }}" data-modal-target="#detailsModal{{ request.id }}"
                                class="h-full more-details-btn group/button relative  aspect-square rounded hover:bg-neutral-200 text-neutral-600 hover:text-black  p-2">
                                <div
                                    class="absolute !min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-white text-black border shadow rounded-md">
                                    <p class="min-w-fit w-[85px]">More details</p>
                                </div>
                                <i data-lucide="info" class="size-3" stroke-width="3"></i>
                            </button>
                            <button data-id="{{ request.id }}"
                                class="h-full delete-btn group/button relative  aspect-square rounded hover:bg-red-100 text-red-500 hover:text-red-600  p-2">
                                <div
                                    class="absolute min-w-fit  bottom-[120%] pointer-events-none opacity-0 group-hover/button:opacity-100  py-1 px-3 left-2/4 -translate-x-2/4 text-sm font-medium translate-y-2 group-hover/button:translate-y-0 transition-all duration-100 bg-white text-black border shadow rounded-md">
                                    Delete
                                </div>
                                <i data-lucide="trash" class="size-3" stroke-width="3"></i>
                            </button>

                            <!--details modal -->
                            <div id="detailsModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[450px] max-h-[70vh] p-4 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-6 mt-20">
                                    <h1 class="font-semibold">Request details</h1>
                                    <div class="flex flex-col gap-6 relative">

                                        <div class="flex flex-col gap-2 ">
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Facility Name</p>
                                                <p class="font-medium">{{ request.facility.name }}</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Location</p>
                                                <p class="font-medium capitalize">{{ request.facility.county }}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="flex flex-col gap-2 ">
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Donation type requested</p>
                                                <p class="font-medium capitalize">{{ request.request_type }}</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Requested Amount</p>
                                                <p class="font-medium">{{ request.request_amount }} ml</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Needed By</p>
                                                <p class="font-medium">{{ request.needed_by|date:"Y-m-d" }}</p>
                                            </div>

                                        </div>
                                        <hr>
                                        <div class="flex flex-col gap-2 ">
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Request Approval Status</p>
                                                <p class="font-medium">{{ request.approval_status }}</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Approval Date</p>
                                                <p class="font-medium">
                                                    {% if request.approval_status == 'approved' %}
                                                    {{ request.approval_date }}
                                                    {% else %}
                                                    Pending
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="flex  flex-col gap-2">
                                            <p class="text-neutral-500 font-medium">Your Remarks</p>
                                            <p class="font-medium">{{ request.remarks }}</p>
                                        </div>
                                        {% if request.approval_status == 'rejected' %}
                                        <hr>
                                        <div class="flex  flex-col gap-2">
                                            <p class="text-neutral-500 font-medium">Reason for rejection</p>
                                            <p class="font-medium">We have done extensive tests and come to the
                                                conclusion that your blood does indeed suck quite alot and will
                                                therefore not be able to proceed with you sample yo</p>
                                        </div>

                                        {% endif %}


                                    </div>
                                </div>
                            </div>

                            <!-- delete modal -->
                            <div id="deleteModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[500px] p-4 mt-64 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-4">
                                    <h1 class="font-semibold text-xl">Confirm Deletion</h1>
                                    <p class="text-neutral-600">
                                        Are you sure you want to delete this <span class="font-medium text-black">
                                            {{ request.request_type }}
                                        </span> request scheduled on <span class="font-medium text-black">
                                            {{request.request_date|date:"F j, Y"}}</span> at <span
                                            class="font-medium text-black">{{request.facility.name}}</span>
                                        ? This action is
                                        irreversible, and all related data will be permanently removed.
                                    </p>
                                    <a href="{% url 'delete-request' request.id %}">
                                        <button
                                            class="w-full h-9 bg-red-500 hover:bg-red-600 text-white rounded-md font-medium">Delete</button>
                                    </a>
                                </div>
                            </div>

                            <!-- cancel request modal -->
                            <div id="cancelModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[500px] p-4 mt-64 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-4">
                                    <h1 class="font-semibold text-xl">Cancel request</h1>
                                    <p class="text-neutral-600">
                                        Are you sure you want to cancle this <span class="font-medium text-black">
                                            {{ request.request_type }}
                                        </span> request request scheduled on <span class="font-medium text-black">
                                            {{request.request_date|date:"F j, Y"}}</span> at <span
                                            class="font-medium text-black">{{request.request_date|date:"g:ia"}}</span>
                                        ? This action is
                                        irreversible.
                                    </p>

                                    <button
                                        class="w-full h-9 bg-red-500 hover:bg-red-600 text-white rounded-md font-medium">Confirm</button>
                                </div>
                            </div>


                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


        </div>
    </div>



    <!-- modal  -->
    {% block make-request %}
    {% endblock %}

</div>
{% endblock %}

{% block scripts %}
<script>

    document.addEventListener("DOMContentLoaded", () => {

        function closeModalOnBackdropClick(modalId) {
            const modal = document.getElementById(modalId);
            const backdrop = modal.querySelector('.backdrop');

            backdrop.addEventListener('click', function () {
                modal.classList.add('hidden');
            });
        }

        const modals = document.querySelectorAll('[id^="detailsModal"]');
        modals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });

        const deleteModals = document.querySelectorAll('[id^="deleteModal"]');
        deleteModals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });

        const cancelModals = document.querySelectorAll('[id^="cancelModal"]');
        cancelModals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });



        const buttons = document.querySelectorAll(".more-details-btn")
        buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                console.log(button.dataset.id)
                e.preventDefault()
                const modal = document.querySelector(`#detailsModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })


        const delete_buttons = document.querySelectorAll(".delete-btn")
        delete_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                console.log(button.dataset.id)
                e.preventDefault()
                const modal = document.querySelector(`#deleteModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })

        const cancel_buttons = document.querySelectorAll(".cancel-btn")
        cancel_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                console.log(button.dataset.id)
                e.preventDefault()
                const modal = document.querySelector(`#cancelModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })





    })

</script>
{% endblock %}