{% extends "user/dashboard-layout.html" %}

{% block title %} Blood Donor System | Requests{% endblock %}



{% block content %}
<div class="w-full p-4 flex flex-col gap-4">
    <nav class="flex items-center justify-end">

    </nav>
    <div class="w-full grid grid-cols-3 gap-4">
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Requests made</p>
                <p class="text-3xl font-semibold tracking-tight">{{ total_requests }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Requests approved</p>
                <p class="text-3xl font-semibold tracking-tight">{{ approved_requests_count }}</p>
            </div>
        </div>
        <div class="w-full h-36 rounded-md shadow p-6 border">
            <div class="flex flex-col gap-4">
                <p class="font-medium">Requests rejected</p>
                <p class="text-3xl font-semibold tracking-tight">{{ rejected_requests_count }}</p>
            </div>
        </div>


    </div>

    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Requests</h1>
        <div class="w-full">
            <table class="w-full">
                <thead>
                    <tr class="">
                        <th class="p-2 text-left font-semibold">Facility</th>
                        <th class="p-2 text-left font-semibold">Request Type</th>
                        <th class="p-2 text-left font-semibold">Request Amount</th>
                        <th class="p-2 text-left font-semibold">Request Status</th>
                        <th class="p-2 text-left font-semibold">Urgency Level</th>
                        <th class="p-2 text-left font-semibold">Needed By</th>
                        <th class="p-2 text-left font-semibold">Approval Status</th>
                        <th class="p-2 text-left font-semibold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <td class="p-2  truncate text-neutral-800">{{request.facility.name}}</td>
                        <td class="p-2  truncate text-neutral-800 capitalize">{{request.request_type}}</td>
                        <td class="p-2  truncate text-neutral-800">{{request.request_amount}} ml</td>
                        <td class="p-2  truncate text-neutral-800">
                            {% if request.request_status == 'scheduled' %}
                            <div class="text-purple-600 flex items-center  gap-2">
                                <i data-lucide="clock" class=" size-4" stroke-width="2"></i>
                                <span>Scheduled</span>
                            </div>
                            {% elif request.request_status == 'cancelled' %}
                            <div class="text-red-600 flex items-center  gap-2">
                                <i data-lucide="x" class=" size-4" stroke-width="2"></i>
                                <span>Cancelled</span>
                            </div>
                            {% elif request.request_status == 'completed' %}
                            <div class="text-green-600 flex items-center  gap-2">
                                <i data-lucide="check" class=" size-4" stroke-width="2"></i>
                                <span>Completed</span>
                            </div>
                            {% endif %}
                        </td>

                        <td class="p-2  truncate text-neutral-800 capitalize">
                            <p class="
                            {% if request.urgency_level == 'normal' %} text-blue-600 
                            {% elif request.urgency_level == 'urgent' %} text-yellow-600 
                            {% elif request.urgency_level == 'critical' %} text-red-600 
                            {% endif %} font-medium">{{request.urgency_level}}</p>
                        </td>
                        <td class="p-2  truncate text-neutral-800">{{ request.needed_by|date:"Y-m-d" }}</td>
                        <td class="p-2.5 truncate h-full  text-neutral-800  !capitalize flex  !items-center gap-2">

                            {% if request.approval_status == 'pending' %}
                            <div class="text-purple-600 flex items-center  gap-2 ">
                                <i data-lucide="clock" class=" size-4" stroke-width="3"></i>
                                <span>Pending</span>
                            </div>
                            {% elif request.approval_status == 'approved' %}
                            <div class="text-green-600 flex items-center  gap-2 ">
                                <i data-lucide="circle-check" class="size-4" stroke-width="3"></i>
                                <span>Approved</span>
                            </div>
                            {% elif request.approval_status == 'rejected' %}
                            <div class="text-red-600 flex items-center  gap-2 ">
                                <i data-lucide="circle-x" class=" size-4" stroke-width="3"></i>
                                <span>Rejected</span>
                            </div>
                            {% endif %}
                        </td>
                        <td class="p-2  gap-2">
                            <div class="relative">
                                <button data-id="{{ request.id }}"
                                    class="size-8 actions-btn group/button relative  aspect-square rounded  hover:bg-neutral-100 text-neutral-600 flex items-center justify-center   p-2 ">
                                    <i data-lucide="ellipsis" class="size-5" stroke-width="3"></i>
                                </button>

                                <div data-id="{{ request.id }}" id="actionsMenuBackdrop{{ request.id }}"
                                    class="fixed hidden backdrop top-0 left-0 w-full h-full bg-transparent"></div>
                                <div id="actionsMenu{{ request.id }}"
                                    class="absolute p-1.5 z-20 hidden bottom-full border right-full w-[190px] text-sm  min-w-fit rounded-md bg-white shadow-md">
                                    <button
                                        class="flex w-full rounded-md font-medium items-center gap-2 p-2 hover:bg-neutral-100 text-neutral-700 hover:text-black">
                                        <i data-lucide="pencil" class="shrink-0 size-3"></i>
                                        Edit
                                    </button>
                                    <button data-id="{{ request.id }}" class="flex rounded-md more-details-btn font-medium items-center gap-2 p-2
                                    hover:bg-neutral-100 w-full text-neutral-700 hover:text-black">
                                        <i data-lucide="info" class="size-3 shrink-0"></i>
                                        More details
                                    </button>
                                    <button data-id="{{ request.id }}" class="flex rounded-md cancel-btn font-medium items-center gap-2 p-2
                                    hover:bg-neutral-100 w-full text-neutral-700 hover:text-black">
                                        <i data-lucide="x" class="size-3 shrink-0"></i>
                                        Cancel request
                                    </button>
                                    <hr class="my-2">
                                    <button data-id="{{ request.id }}" class="flex rounded-md delete-btn font-medium items-center gap-2 p-2
                                    hover:bg-red-50 w-full text-red-600 hover:text-red-700">
                                        <i data-lucide="trash" class="size-3 shrink-0"></i>
                                        Delete request
                                    </button>
                                </div>

                            </div>

                            <!--details modal -->
                            <div id="detailsModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[450px] max-h-[70vh] p-4 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-6 mt-20">
                                    <h1 class="font-semibold">Request details</h1>
                                    <div class="flex flex-col gap-6 relative">

                                        <div class="flex flex-col gap-2 ">
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Facility Name</p>
                                                <p class="font-medium">{{ request.facility.name }}</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Location</p>
                                                <p class="font-medium capitalize">{{ request.facility.county }}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="flex flex-col gap-2 ">
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Donation type requested</p>
                                                <p class="font-medium capitalize">{{ request.request_type }}</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Requested Amount</p>
                                                <p class="font-medium">{{ request.request_amount }} ml</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Needed By</p>
                                                <p class="font-medium">{{ request.needed_by|date:"Y-m-d" }}</p>
                                            </div>

                                        </div>
                                        <hr>
                                        <div class="flex flex-col gap-2 ">
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Request Approval Status</p>
                                                <p class="font-medium">{{ request.approval_status }}</p>
                                            </div>
                                            <div class="flex items-center justify-between">
                                                <p class="text-neutral-500 font-medium">Approval Date</p>
                                                <p class="font-medium">
                                                    {% if request.approval_status == 'approved' %}
                                                    {{ request.approval_date }}
                                                    {% else %}
                                                    Pending
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="flex  flex-col gap-2">
                                            <p class="text-neutral-500 font-medium">Your Remarks</p>
                                            <p class="font-medium">{{ request.remarks }}</p>
                                        </div>
                                        {% if request.approval_status == 'rejected' %}
                                        <hr>
                                        <div class="flex  flex-col gap-2">
                                            <p class="text-neutral-500 font-medium">Reason for rejection</p>
                                            <p class="font-medium">{{request.rejection_reason}}</p>
                                        </div>

                                        {% endif %}


                                    </div>
                                </div>
                            </div>

                            <!-- delete modal -->
                            <div id="deleteModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[500px] p-4 mt-64 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-4">
                                    <h1 class="font-semibold text-xl">Confirm Deletion</h1>
                                    <p class="text-neutral-600">
                                        Are you sure you want to delete this <span class="font-medium text-black">
                                            {{ request.request_type }}
                                        </span> request scheduled on <span class="font-medium text-black">
                                            {{request.request_date|date:"F j, Y"}}</span> at <span
                                            class="font-medium text-black">{{request.facility.name}}</span>
                                        ? This action is
                                        irreversible, and all related data will be permanently removed.
                                    </p>
                                    <a href="{% url 'delete-request' request.id %}">
                                        <button
                                            class="w-full h-9 bg-red-500 hover:bg-red-600 text-white rounded-md font-medium">Delete</button>
                                    </a>
                                </div>
                            </div>

                            <!-- cancel request modal -->
                            <div id="cancelModal{{ request.id }}"
                                class="w-full hidden modal  h-screen fixed top-0 left-0 z-50">
                                <div class="absolute backdrop top-0 left-0 w-full h-full bg-black/60"></div>
                                <div
                                    class="w-[500px] p-4 mt-64 custom-scrollbar overflow-y-auto bg-white rounded-md relative mx-auto flex flex-col gap-4">
                                    <h1 class="font-semibold text-xl">Cancel request</h1>
                                    <p class="text-neutral-600">
                                        Are you sure you want to cancel this <span class="font-medium text-black">
                                            {{ request.request_type }}
                                        </span> request scheduled on <span class="font-medium text-black">
                                            {{request.request_date|date:"F j, Y"}}</span> at <span
                                            class="font-medium text-black">{{request.facility.name}}</span>
                                        ? This action is
                                        irreversible.
                                    </p>
                                    <a href="{% url 'cancel-request' request.id %}">

                                        <button
                                            class="w-full h-9 bg-red-500 hover:bg-red-600 text-white rounded-md font-medium">Confirm</button>
                                    </a>
                                </div>
                            </div>


                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


        </div>
    </div>


    <div class="w-full col-span-2 rounded-md shadow p-6 border flex flex-col gap-4 ">
        <h1 class="font-semibold">Book Appoinment</h1>
        <div class="w-full">
            <table class="w-full max-h-80">
                <thead class="border-b">
                    <tr class=" ">
                        <th class="text-start p-2 font-semibold">Facility</th>
                        <th class="text-start p-2 font-semibold">Type</th>
                        <th class="text-start p-2 font-semibold">Location</th>
                        <th class="text-start p-2 font-semibold">Contact</th>
                        <th class="text-start p-2 font-semibold">Open Days</th>
                        <th class="text-start p-2 font-semibold">Working Hrs</th>
                        <th class="text-start p-2 font-semibold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facility in facilities %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-neutral-100 {% else %}bg-white{% endif %}">
                        <td class="p-2 truncate text-neutral-800">{{ facility.name }}</td>
                        <td class="p-2 truncate text-neutral-800 capitalize">{{ facility.facility_type}}</td>
                        <td class="p-2 truncate text-neutral-800">{{ facility.county}}</td>
                        <td class="p-2 truncate text-neutral-800">{{ facility.contact_number}}</td>
                        <td class="p-2 truncate text-neutral-800 capitalize">{{ facility.open_days }}</td>
                        <td class="p-2 truncate text-neutral-800">{{ facility.opening_time|date:"g:i a" }} -
                            {{facility.closing_time|date:"g:i a" }}</td>
                        <td>
                            {% if facility.total_blood is not None and facility.total_blood > 800 %}
                            <a href="{% url 'make-request' facility.id %}">
                                <button
                                    class="px-3 w-full text-white py-1  font-medium text-sm  rounded {% if facility.total_blood is not None and facility.total_blood > 800 %} bg-green-500 {% else %} bg-neutral-400 disabled cursor-not-allowed{% endif %}">

                                    Request
                                </button>
                            </a>
                            {% else %}
                            <button
                                class="px-3 w-full text-white py-1 font-medium text-sm rounded bg-neutral-300 disabled cursor-not-allowed">
                                Not available
                            </button>
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- modal  -->
    {% block make-request %}
    {% endblock %}

</div>
{% endblock %}

{% block scripts %}
<script>

    document.addEventListener("DOMContentLoaded", () => {

        function closeModalOnBackdropClick(modalId) {
            const modal = document.getElementById(modalId);
            const backdrop = modal.querySelector('.backdrop');

            backdrop.addEventListener('click', function () {
                modal.classList.add('hidden');
            });
        }

        const modals = document.querySelectorAll('[id^="detailsModal"]');
        modals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });

        const deleteModals = document.querySelectorAll('[id^="deleteModal"]');
        deleteModals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });

        const cancelModals = document.querySelectorAll('[id^="cancelModal"]');
        cancelModals.forEach(modal => {
            closeModalOnBackdropClick(modal.id);
        });



        const buttons = document.querySelectorAll(".more-details-btn")
        buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                console.log(button.dataset.id)
                e.preventDefault()
                const modal = document.querySelector(`#detailsModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })


        const delete_buttons = document.querySelectorAll(".delete-btn")
        delete_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                console.log(button.dataset.id)
                e.preventDefault()
                const modal = document.querySelector(`#deleteModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })

        const cancel_buttons = document.querySelectorAll(".cancel-btn")
        cancel_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                console.log(button.dataset.id)
                e.preventDefault()
                const modal = document.querySelector(`#cancelModal${button.dataset.id}`)
                modal.classList.remove("hidden")
            })
        })

        const action_buttons = document.querySelectorAll(".actions-btn")

        action_buttons.forEach((button) => {
            button.addEventListener("click", (e) => {
                e.preventDefault()
                const menu = document.querySelector(`#actionsMenu${button.dataset.id}`)
                const backdrop = document.querySelector(`#actionsMenuBackdrop${button.dataset.id}`)
                menu.classList.remove("hidden")
                backdrop.classList.remove("hidden")
            })
        })

        const backdrops = document.querySelectorAll(".backdrop")

        backdrops.forEach((backdrop) => {
            backdrop.addEventListener("click", (e) => {
                console.log("clicked")
                e.preventDefault()
                const menu = document.querySelector(`#actionsMenu${backdrop.dataset.id}`)
                menu.classList.add("hidden")
                backdrop.classList.add("hidden")
            })
        })


    })

</script>
{% endblock %}