{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blood donor system{% endblock %}</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

</head>


<body>
    <nav id="navbar" class="w-full h-16 flex items-center justify-between mx-auto max-w-7xl">

        <div class="">
            <div class="flex items-center gap-2">
                <i data-lucide="heart-pulse" class="stroke-red-500"></i>
                <a href="{% url 'home' %}" class="font-bold ">
                    Blood donor system
                </a>
            </div>
        </div>
        {% block navbar %}
        <ul class="flex items-center gap-6">

            <li>
                <a href="{% url 'login' %}">
                    <button class="text-sm font-medium hover;text-neutral-700 hover:text-black">Sign in</button>
                </a>
            </li>
            <li>
                <a href="{% url 'get-started' %}">
                    <button
                        class="bg-blue-500 hover:bg-blue-600 transition-all p-2 flex items-center gap-2 px-3 text-sm rounded py-1.5 font-medium text-white">Get
                        started <i data-lucide="arrow-right" class="size-3.5" stroke-width="3"></i>
                    </button>
                </a>
            </li>
        </ul>
        {% endblock %}
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>

</html>